@charset "UTF-8";

/* Importação de font (google fontes) */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

/* Variáveis */
:root {
    --azul: #ADD8E6;
    --roxo: #4169E1;
    --branco: #FFF;
    --preto: #000;
    --vermelho: #ff0000;
}

/* CSS Reset (compatibilizar com todos navegadores)*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}




/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
body {
    font-family: "Arima", sans-serif;
    font-size: 1em;
    /* 1em = 100% (tamanho padrão) */
    background-color: var(--preto);
}

.container {
    margin: 0 auto;
    /* centralizar o bloco */
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.botao {
    text-decoration: none;
    color: var(--preto);
    font-size: 1.3em;
    font-weight: 700;
    background-color: var(--azul);
    width: 160px;
    padding: 11px 0px;
    border: 2px solid var(--preto);
    border-radius: 25px;
    align-self: center;
    margin-top: 20px;

}

/* FIM DO LAYOUT<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/************ Cabeçalho ***********/
header {
    height: 100px;
    background-color: #b0cddf;
}

#logo img {
    width: 90px;
    height: 85px;
    margin: 10px 0px 0px 0px;
}

#check {
    display: none;
}

/* Efeito de deslizar o menu */
/* Se check estiver "ticado", criar um estilo para ul */
#check:checked~ul {
    right: 0;
}

label {
    font-size: 3em;
    position: fixed;
    top: 15px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5);
    /* 0.5 = 50% transparencia (0 a 1 (100%) */
}

nav ul {
    height: 100vh;
    /* 100vh = 100% altura da tela*/
    background-color: rgba(173, 216, 230, 0.8);
    list-style: none;
    /* Revover bullets */
    width: 55%;
    position: fixed;
    top: 100px;
    right: -55%;
    transition: all 0.5s;
}

nav ul li {
    padding: 15px 20px;
    border-bottom: 1px solid var(--branco);
    text-align: right;
}

nav ul li a {
    color: var(--preto);
    text-decoration: none;
    /* remover o sublinhado */
}



/******** Banner *********/
main {
    height: 60vh;
    /* ajuste e largura do banner*/
    background: url(img/banner\ fixo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    color: var(--branco);
    text-shadow: #000 0.05em 0.05em 0.05em;
    /* efeito de sombra*/
}

main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 2em;
    margin-top: 20px;
    font-weight: 800;
}

/******** Destaque **********/
#destaque {
    background: url(img/fundo4.png);
    background-size: cover;
    background-position: center;
    /* Espaçamento para não encostar na borda do dispositivo */
    padding: 90px 15px;
}

/* Atenção!!! Organizando o conteiner após o destaque, o estilo é aplicado apenas ao container da seçao de destaque*/
#destaque .container {
    flex-direction: column;
    align-items: center;
}

/*para esconder a imagem usamos display: nome no container da imagem | para exibir novamente em telas maiores, usamos "display: block" */
/*#imagemDestaque{
    display: none;
}*/
#imagemDestaque img {
    width: 200px;
    height: 200px;
    /* Arredondar uma imagem quadrada */
    border-radius: 50%;

}

#textoDestaque {
    font-size: 1em;
    color: var(--branco);
    text-align: center;
    
    
}

#textoDestaque h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;

}

/* Atenção!!! Detalhe do sinal ">" ref. ao elemento imediato */
#textoDestaque>p {
    color: var(--preto);
    font-size: 1.7em;
    margin-bottom: 25px;
    
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.topicos img {
    margin-right: 20px;
    margin-left: 50px;  
}

.topicos p {
    font-weight: 600;
    color: #000;
}

/********* Sobre ***********/

/*o estilo abaixo será aplicado apenas ao container qeu está subordinado a section "Sobre"*/
#sobre .container {
    flex-direction: column;
}

#sobre {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color:  #808080;
}

#sobre h2,
p {
    color: var(--branco);
}

#sobre h2 {
    margin-bottom: 20px;
}

#sobre p {
    margin-bottom: 20px;
}

#video iframe {
    width: 100%;
    height: 191px;
}


/* FIM DO SMARTPHONE PORTRAIT*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

    /* Cabeçalho */
    #logo img {
        margin: 10px 0px 0px 0px;
    }

    .container {
        max-width: 670px;
        /*  background-color: #87CEEB; */
    }

    /********* Destaque **********/
    #destaque .container {
        flex-direction: row;
    }

    #imagemDestaque {
        margin-right: 60px;
        margin-top: 80px;
    }

    #imagemDestaque img {
        width: 200px;
        height: 200px;
    }

    .topicos img {
        margin-right: 20px;
        margin-left: 170px;  
    }
    /********* Sobre **********/
    #video iframe {
        width: 560px;
        height: 315px;
    }


}

/*FIM SMARTPHONE LANDSCAPE*/

/* Tablet Portrait */
@media (min-width: 768px) {

    /****** cabeçalho *******/
    .container {
        max-width: 770px;
        /* background-color: #87CEEB; */

    }

    header {
        height: 110px;
    }

    #logo img {
        width: 100px;
        height: 100px;
        margin: 10px 0px 0px 0px;
    }

    nav ul {
        top: 110px;
        width: 50%;
        right: -50%;
    }

    /* Banner */

    main h1 {
        font-size: 4em;
    }

    main h2 {
        font-size: 2.5em;
        margin-top: 30px;
    }

    /***** Destaque *****/
    #imagemDestaque img {
        width: 300px;
        height: 300px;
        margin-left: 30px;
    }

    #textoDestaque h2 {
        font-size: 2em;
    }
}

/*FIM*/




/* Tablet Landscape */
@media (min-width: 992px) {

    /* cabeçalho */
    .container {
        max-width: 1030px;
        /*  background-color: #87CEEB; */

    }

    #logo img {
        width: 110px;
        height: 100px;
        margin: 10px 0px 0px 0px;
    }

    #imagemDestaque {
        margin-right: 70px;
        margin-top: 70px;
        margin-left: 70px;
    }

    #imagemDestaque img {
        width: 380px;
        height: 380px;
    }

    .topicos img {
        margin-right: 20px;
        margin-left: 350px;  

}

/*FIM*/

/* PCs / Notebooks */
@media (min-width: 1200px) {
    .container {
        max-width: 1640px;
        justify-content: space-around;
        align-items: center;
        /*  background-color: #87CEEB; */
        /* cabeçalho */
    }

    header {
        height: 150px;
    }

    #logo img {
        width: 140px;
        height: 140px;
    }

    /* transformação do menu */
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
        /* remover a cor do backcolor*/
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li {
        color: var(--azul)
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }

    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 3.5em;
        margin-top: 30px;
    }

    /*********** Destaque ***********/
    /*   #destaque {

        /***** Destaque *****/
    #imagemDestaque img {
        width: 440px;
        height: 440px;


        /* O código abaixo fixa o banner (efeito parallax) */
        background-attachment: fixed;
    }

    .topicos img {
        margin-right: 20px;
        margin-left: 350px;
    }

    /******sobre******/
#sobre .container {
    flex-direction: row;
    align-items: center;
}

#video iframe {
    margin: 0;
}
}




/*FIM*/

/* Telas FullHD / 4k / SmartTV */
@media (min-width: 1400px) {

    /***** cabeçalho ******/
    .container {
        max-width: 1360px;
        /*  background-color: (#87CEEB); */
    }

    header {
        height: 200px;
    }

    #logo img {
        width: 176px;
        height: 176px;
    }

}

/*FIM*/